<div class="container-fluid">
    <!-------------------------------- Comienza formulario de carga -------------------------------->
    <h1>Programas</h1>
    <form #periodoForm="ngForm" (ngSubmit)="onSubmit(periodoForm)">
        <div class="row" style="margin-left: 3px;">
            <div class="col-xs-5">
                <label class="form-label" for="name">Titulo:</label>
                <input id="titulo" class="form-control" type="text" name="titulo" placeholder="Titulo..."
                    #titulo='ngModel' [(ngModel)]="programa.tituloprograma" required>
                <span class="form_error" *ngIf="titulo.touched && !titulo.valid">
                    El titulo es obligatorio
                </span>
            </div>
            <div class="col-xs-5">
                <label class="form-label" for="name">Dia:</label>
                <input id="dia" class="form-control" type="date" name="dia" placeholder="Dia..." #dia='ngModel'
                    [(ngModel)]="programa.dia" required>
                <span class="form_error" *ngIf="dia.touched && !dia.valid">
                    El dia es obligatorio
                </span>
            </div>
            <div class="col-xs-5">
                <label class="form-label" for="name">Horario Emision:</label>
                <input id="horario" class="form-control" type="time" name="horario" placeholder="Horario..."
                    #horario='ngModel' [(ngModel)]="programa.horarioemision" required>
                <span class="form_error" *ngIf="horario.touched && !horario.valid">
                    El horario de emision es obligatorio
                </span>
            </div>
            <div class="col-xs-5">
                <label class="form-label" for="name">Duracion:</label>
                <input id="duracion" class="form-control" type="time" name="duracion" placeholder="Duracion..."
                    #duracion='ngModel' [(ngModel)]="programa.duracion" required>
                <span class="form_error" *ngIf="duracion.touched && !duracion.valid">
                    La duracion es obligatoria
                </span>
            </div>
            <!-- ---------- -->
            <div class="col-xs-5">
                <label class="form-label" for="name">director ID:</label>
                <input id="fkdirectorid" class="form-control" type="text" name="fkdirectorid" placeholder="Director id..."
                    #fkdirectorid='ngModel' [(ngModel)]="programa.fkdirectorid" required>
                <span class="form_error" *ngIf="fkdirectorid.touched && !fkdirectorid.valid">
                    La fkdirectorid es obligatoria
                </span>
            </div>
            <div class="col-xs-5">
                <label class="form-label" for="name">locutor ID:</label>
                <input id="fklocutoresid" class="form-control" type="text" name="fklocutoresid" placeholder="Locutor id..."
                    #fklocutoresid='ngModel' [(ngModel)]="programa.fklocutoresid" required>
                <span class="form_error" *ngIf="fklocutoresid.touched && !fklocutoresid.valid">
                    La fklocutoresid es obligatoria
                </span>
            </div>
            <!-- ---------- -->
        </div>
        <br>
        <input id="nuevo" type="submit" class="btn btn-success" value="Nuevo Periodo" style="margin-left: 3px;"
            [disabled]="!periodoForm.form.valid" />&nbsp;
        <input id="modificar" type="text" (click)="updatePeriodo(programa)" class="btn btn-info" value="Modificar"
            style="width: 132px; margin-left: -6px;" [disabled]="!periodoForm.form.valid" />
        <button id="cancelar" type="button" (click)="LimpiarCampos()" class="btn btn-danger"
            style="margin-left: 10px;">Cancelar</button>
    </form>

    <button class="btn btn-success" [routerLink]="['/altasprogramas']" style="margin-left: 62%;">Nuevo Programa</button>

    <!-------------------------------- Comienza Busqueda -------------------------------->

    <!-- <div style="margin-left: 50%; margin-top: -132px;" class="row">
        <div class="col-xs-5">
            <label id="inputBuscar" class="form-label" for="dni">Buscar por Periodo:&nbsp;</label>
            <input type="text" class="form-control" [(ngModel)]="perBuscado" />
            <br>
            <button id="buscar" type="button" class="btn btn-success" (click)="BuscarPeriodo()">Buscar</button>
        </div>
    </div> -->

    <!-------------------------------- Comienza Listado -------------------------------->
    <div style="margin-bottom: 50px;"></div>
    <h2>Listado de Programas</h2>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Dia</th>
                <th scope="col">Horario Emision</th>
                <th scope="col">Duracion</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let programa of programas">
                <td>
                    {{programa.tituloprograma}}
                </td>
                <td>
                    {{programa.dia}}
                </td>
                <td>
                    {{programa.horarioemision}}
                </td>
                <td>
                    {{programa.duracion}}
                </td>
                <td>
                    <button (click)="VerPersonal(programa)" type="button" class="btn btn-primary">Ver
                        Personal</button>&nbsp;
                    <button (click)="modificaDato(programa.id)" type="button"
                        class="btn btn-info">Modificar</button>&nbsp;
                    <button (click)="setConfirmDelete(programa)" type="button" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="!loading">
        <div style="margin-bottom: 50px;"></div>
        <h2>Listado de Directores</h2>

        <table class="table table-striped table-hover" *ngIf="!loading">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">DNI</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{directorprog.nombre}}
                    </td>
                    <td>
                        {{directorprog.apellido}}
                    </td>
                    <td>
                        {{directorprog.dni}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="margin-bottom: 50px;"></div>
        <h2>Listado de Locutores</h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">DNI</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{locutorprog.nombre}}
                    </td>
                    <td>
                        {{locutorprog.apellido}}
                    </td>
                    <td>
                        {{locutorprog.dni}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- <button (click)="updateDirector(programa.id)">Modificar</button>
<p *ngIf="confirmDelete == false">
    <button (click)="setConfirmDelete(true)">Eliminar</button>
</p>

<p *ngIf="confirmDelete == true">
    <span>¿Eliminar definitivamente?</span>
    <button (click)="setConfirmDelete(false)">Cancelar</button>
    <button (click)="deleteDirector(programa.id)">Eliminar definitivamente</button>
</p> -->